html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
    background-color: $red;
    color: #fff;
}

body {
    background-color: $bg;
    color: $white;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid $white;
    padding: 30px 62px;
    transition: all .5s;
    outline: none;
    border-radius: 3px;

    &:hover {
        background-color: $red;
    }
}

.title {
    font-size: 56px;
    margin-bottom: 80px;
    margin-top: 40px;
    user-select: none;
}

img {
    border-radius: 3px;
}

a {
    color: $white;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1d1d1d;
}

::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 20px;
    border: 0.5px solid #1d1d1d;
}

::-webkit-scrollbar-thumb:hover {
    background: $red;
}