@import "vars";
@import "libs";
@import "fonts";


.header {
    min-height: 100vh;
    width: 100%;
    display: table;
    // background-image: url(../img/bg.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: 0 0;
}

.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.logo {}

.header-btn {}

.header-content {}

.header-content__title {}

.header-content__text {}

.header-content__btn {}


@import "media";