@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    height: 100vh;
    width: 100%;
}

header::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-bottom: 29px;
    padding-top: 36px;
}

.header-btn {
    cursor: pointer;
    display: block;
    position: relative;
    border: 1px solid $white;
    width: 60px;
    height: 60px;
    margin-top: 29px;
    background-color: rgba(255, 255, 255, 0.1);
}

.header-btn span {
    position: absolute;
    background-color: #fff;
    left: 10px;
    width: 36px;
    height: 2px;
    top: 28px;
    transition: all 0.4s ease 0s;
}

.header-btn:before,
.header-btn:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 36px;
    height: 2px;
    left: 10px;
    transition: all 0.3s ease 0s;
}

.header-btn:before {
    top: 15px;
}

.header-btn:after {
    bottom: 15px;
}

.header-content__title {
    font-size: 76px;
    line-height: 102px;
    margin-bottom: 40px;
}

.header-content__text {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 75px;
    width: 500px;
    @include Montserrat;
}

.header-content__btn {
    text-transform: uppercase;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid $white;
    padding: 30px 62px;
    transition: all .5s;

    &:hover {
        background-color: $red;
    }
}

.statistics {
    margin: 160px 0 100px;
}

.statistics-img {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;

    img {
        text-align: center;
        width: 170px;
    }
}

.statistics-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.statistics-item__title {
    margin-bottom: 19px;
    font-size: 20px;
}

.statistics-item__num,
.statistics-item__num--plus {
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 7px;
    position: relative;

    span {
        font-size: 22px;
        @include Montserrat;
        line-height: 28px;
    }
}

.statistics-item__num--plus {

    ::before,
    ::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 3px;
        background-color: #fff;
        right: 60px;
        top: 10px;
    }

    ::before {
        transform: rotate(90deg);
    }
}

.statistics-item__descr {
    color: #b70021;
    font-size: 20px;
}

.statistics-slider {
    .slick-dots button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        border: none;
        padding: 0;
        font-size: 0;
        cursor: pointer;
        outline: none;
    }

    ul {
        list-style-type: none;
    }

    .slick-dots .slick-active button {
        background-color: #b70021;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 10px;
    }

}











@import "media";